[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
[submodule "external/MemoryModule"]
	path = external/MemoryModule
	url = https://github.com/fancycode/MemoryModule.git
[submodule "external/imgui_club"]
	path = external/imgui_club
	url = https://github.com/ocornut/imgui_club.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/GLEW"]
	path = external/GLEW
	url = https://github.com/mVento3/GLEW.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
